.card-login{
 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.content{
    display: grid;
    font-size: 30px;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    height: 60px;
    width: 150px;
    font-size: 30px;
    margin: 0 auto;
    border-radius: 20px;
}

input{
    font-size: 20px;
    width: 95%;
    height: 35px;
    margin-top: 7px;
    padding-left: 3px;
}
