.card-login{
    background-image: url('../../images/comidas-fundos.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(58, 11, 11);
}

.content{
    display: grid;
    background-color: orangered;
    width: 70%;
    font-size: 30px;
    border-radius: 30px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0  30px gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    height: 60px;
    width: 150px;
    font-size: 30px;
    margin: 0 auto;
    border-radius: 20px;
    background-color:rgb(255, 157, 0);
}

input{
    font-size: 20px;
    width: 95%;
    height: 35px;
    margin-top: 7px;
    padding-left: 3px;
}
