<mat-card class="card-login">
  <mat-card-content class = "content">
    <mat-card-title>Login Usuário</mat-card-title>
    <mat-form-field appearance="fill" class="mat-form-simples">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="usuario.email" placeholder="digite o Email">
    </mat-form-field>
    <mat-form-field appearance="fill" class="mat-form-simples">
      <mat-label>Senha</mat-label>
      <input matInput [(ngModel)]="usuario.senha" placeholder="digite o Senha">
    </mat-form-field>
  <mat-card-footer align="center">
    <button mat-raised-button mat-icon-button color="button" (click)="load(usuario.email, usuario.senha)">
    Login
    </button>
  </mat-card-footer>
  </mat-card-content>
</mat-card>